<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/IMKolganov/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="IMKolganov" />
            <add key="ClearTextPassword" value="YourGitHubToken" />
        </github>
    </packageSourceCredentials>
</configuration>
